@page "/register-vendor/{VendorRegistrationFormId:guid}"
@using OceanVMSClient.Extensions
<MudBreadcrumbs Items="_items" Separator="/" Class="mb-0" />
@if (VendorRegistrationFormId == Guid.Empty)
{
    <PageHeader Title="New Vendor Registration" Class="mb-0" />
}
else
{
    <PageHeader Title="Edit Vendor Registration" Class="mb-0" />
    <MudText Typo="Typo.caption"  Color="Color.Secondary" class="me-2">Review Status: @_vendorReg.ReviewerStatus</MudText>
    <MudText Typo="Typo.caption" Color="Color.Secondary" class="me-2">Approval Status: @_vendorReg.ApproverStatus</MudText>

 }

<MudCard>
    <MudCardContent>
        @if (_isLoading)
        {
            <div style="display:flex; align-items:center; justify-content:center; min-height:120px;">
                <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
            </div>
        }

        <EditForm EditContext="_editContext" OnSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <MudTabs @ref="_tabs">
                <MudTabPanel Text="Organization Info" @ref="_panelOrgInfo" Icon="@Icons.Material.Rounded.Apartment">
                    <MudGrid GutterSize="1" Spacing="0" Class="mt-2">
                        <MudItem id="Organization Name And Address" xs="4" md="4">
                            <MudPaper Height="100%" Elevation="1" Class="pa-2 mr-2">

                                <MudGrid Spacing="0" GutterSize="1" AlignItems="center">

                                    <MudItem xs="11">

                                        <MudText Typo="Typo.h6" Color="Color.Info">Organization Information</MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="d-flex justify-end">
                                        @if (_isOrganizationSectionValid)
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Rounded.Check" />
                                        }
                                        else
                                        {

                                            <MudIcon Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Rounded.Clear" />
                                        }
                                    </MudItem>
                                    <MudDivider Class="mx-2" />
                                    <MudItem id="Organization Name" xs="12" md="12">
                                        <MudTextField @bind-Value="@_vendorReg.OrganizationName"
                                                      Label="Organization Name"
                                                      Placeholder="Enter Organization Name"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="true"
                                                      For="@(() => _vendorReg.OrganizationName)"
                                                      OnBlur="@(() => ValidateOrganizationNameOnBlur())" />
                                    </MudItem>
                                    <MudItem id="Ownershp Type" xs="8" md="8">
                                        @if (_companyOwnerships?.Any() == true)
                                        {
                                            <MudItem id="Ownershp Type" xs="8" md="8">
                                                @if (_companyOwnerships?.Any() == true)
                                                {
                                                    <MudSelect T="string"
                                                               Value="_vendorReg.CompanyOwnershipType"
                                                               ValueChanged="@(EventCallback.Factory.Create<string?>(this, OnCompanyOwnershipChanged))"
                                                               Placeholder="Company Ownership"
                                                               Typo="@_inputTypo"
                                                               Dense="true"
                                                               Label="Company Ownership"
                                                               Variant="Variant.Text"
                                                               FullWidth="true"
                                                               Margin="Margin.Dense"
                                                               Required="true"
                                                               ReadOnly="@_isReadOnly"
                                                               For="@(() => _vendorReg.CompanyOwnershipType)">
                                                        @foreach (var ownership in _companyOwnerships)
                                                        {
                                                            <MudSelectItem Value="@(ownership.CompanyOwnershipType)">
                                                                @ownership.CompanyOwnershipType
                                                            </MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                }
                                                else
                                                {
                                                    <MudText Typo="Typo.caption">Loading ownerships…</MudText>
                                                }
                                            </MudItem>
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.caption">Loading ownerships…</MudText>
                                        }
                                    </MudItem>
                                    <MudItem id="MSME Switch" xs="4">
                                        <MudSwitch Color="Color.Primary" T="bool"
                                                   Value="@(_IsMSMERegistered ?? false)"
                                                   ReadOnly="@_isReadOnly"
                                                   ValueChanged="@(HandleMSMESelectedChange)">
                                            <MudText Typo="Typo.caption">Is MSME?</MudText>
                                        </MudSwitch>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudSelect T="string"
                                                   Label="Services Offered"
                                                   Placeholder="Services Offered"
                                                   Typo="@_inputTypo"
                                                   Variant="Variant.Text"
                                                   FullWidth="true"
                                                   Margin="Margin.Dense"
                                                   @bind-Value="@_vendorReg.VendorServices"
                                                   MultiSelection="true"
                                                   @bind-SelectedValues="@_selectedServices"
                                                   Required="true"
                                                   RequiredError="Please Select the Services Offered"
                                                   ReadOnly="@_isReadOnly"
                                                   OnBlur="@(async (e) => await ValidateField(nameof(_vendorReg.VendorServices)))">
                                            @foreach (var vType in _vendorServices)
                                            {
                                                <MudSelectItem Value="@(vType.VendorServiceName)">
                                                    @vType.VendorServiceName
                                                </MudSelectItem>
                                            }

                                        </MudSelect>
                                    </MudItem>

                                    <MudItem id="Company Phone" xs="12" md="12">
                                        <MudTextField T="string"
                                                      @bind-Value="@_vendorReg.CompanyPhoneNo"
                                                      Label="Company Phone Number"
                                                      Placeholder="Enter Company Phone Number"
                                                      InputType="InputType.Telephone"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="true"
                                                      For="@(() => _vendorReg.CompanyPhoneNo)"
                                                      OnBlur="@(() => ValidateCompanyPhoneOnBlur())" />
                                    </MudItem>
                                    <MudItem id="Company Email" xs="12" md="12">
                                        <MudTextField T="string"
                                                      @bind-Value="@_vendorReg.CompanyEmailID"
                                                      Label="Company Email"
                                                      Placeholder="Enter Company Email"
                                                      InputType="InputType.Email"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="true"
                                                      For="@(() => _vendorReg.CompanyEmailID)"
                                                      OnBlur="@(() => ValidateCompanyEmailOnBlur())" />
                                    </MudItem>
                                    <MudItem id="Company WebSite" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.WebSite"
                                                      Label="Company Website"
                                                      Placeholder="Enter Company Website"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="false"
                                                      For="@(() => _vendorReg.WebSite)" />
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        </MudItem>
                        <MudItem id="Address Information" xs="4" md="4">
                            <MudPaper Height="100%" Elevation="1" Class="pa-2 ms-1 me-1">
                                <MudGrid Spacing="0" GutterSize="1" AlignItems="center">
                                    <MudItem xs="11">
                                        <MudText Typo="Typo.h6" Color="Color.Info">Address Details</MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="d-flex justify-end">
                                        @if (_isAddressSectionValid)
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Rounded.Check" />
                                        }
                                        else
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Rounded.Clear" />
                                        }
                                    </MudItem>
                                    <MudDivider Class="mx-2" />
                                    <MudItem id="Address Line 1" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.RegAddress1"
                                                      Label="Address Line 1"
                                                      Placeholder="Enter Address Line 1"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.RegAddress1))"
                                                      For="@(() => _vendorReg.RegAddress1)" />
                                    </MudItem>
                                    <MudItem id="Address Line 2" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.RegAddress2"
                                                      Label="Address Line 2"
                                                      Placeholder="Enter Address Line 2"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.RegAddress2))"
                                                      For="@(() => _vendorReg.RegAddress2)" />
                                    </MudItem>
                                    <MudItem id="Address Line 3" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.RegAddress3"
                                                      Label="Address Line 3"
                                                      Placeholder="Enter Address Line 3"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.RegAddress3))"
                                                      For="@(() => _vendorReg.RegAddress3)" />
                                    </MudItem>
                                    <MudItem id="City" xs="6" md="6">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.RegCity"
                                                      Label="City"
                                                      Placeholder="Enter City"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.RegCity))"
                                                      For="@(() => _vendorReg.RegCity)" />
                                    </MudItem>
                                    <MudItem id="State" xs="6" md="6">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.RegState"
                                                      Label="State"
                                                      Placeholder="Enter State"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.RegState))"
                                                      For="@(() => _vendorReg.RegState)" />
                                    </MudItem>
                                    <MudItem id="Country" xs="6" md="6">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.RegCountry"
                                                      Label="Country"
                                                      Placeholder="Enter Country"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.RegCountry))"
                                                      For="@(() => _vendorReg.RegCountry)" />
                                    </MudItem>
                                    <MudItem id="Postal Code" xs="6">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.RegPIN"
                                                      Label="Postal Code"
                                                      Placeholder="Enter Postal Code"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      MaxLength="6"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.RegPIN))"
                                                      For="@(() => _vendorReg.RegPIN)" />
                                    </MudItem>

                                </MudGrid>
                            </MudPaper>
                        </MudItem>
                        <MudItem id="Contact Information" xs="4" md="4">
                            <MudPaper Height="100%" Elevation="1" Class="pa-2">
                                <MudGrid Spacing="0" GutterSize="1" AlignItems="center">
                                    <MudItem xs="11">
                                        <MudText Typo="Typo.h6" Color="Color.Info">Primary Contact</MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="d-flex justify-end">
                                        @if (_isContactSectionValid)
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Rounded.Check" />
                                        }
                                        else
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Rounded.Clear" />
                                        }
                                    </MudItem>
                                    <MudDivider Class="mx-2" />
                                    <MudItem id="Responder First Name" xs="12" md="12">
                                        <MudTextField T="string"
                                                      @bind-Value="@_vendorReg.ResponderFName"
                                                      Immediate="true"
                                                      Label="Responder's First Name"
                                                      Placeholder="First Name"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="true"
                                                      For="@(() => _vendorReg.ResponderFName)"
                                                      OnBlur="@(() => ValidateField(nameof(_vendorReg.ResponderFName)))" />
                                    </MudItem>
                                    <MudItem id="Responder Last Name" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.ResponderLName"
                                                      Label="Responder's Last Name"
                                                      Placeholder="Last Name"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@ValidationExtensions.HasRequiredAttribute(() => _vendorReg.ResponderLName)"
                                                      For="@(() => _vendorReg.ResponderLName)" />
                                    </MudItem>
                                    <MudItem id="Responder Designation" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.ResponderDesignation"
                                                      Label="Designation"
                                                      Placeholder="Designation"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@ValidationExtensions.HasRequiredAttribute(() => _vendorReg.ResponderDesignation)"
                                                      For="@(() => _vendorReg.ResponderDesignation)" />
                                    </MudItem>
                                    <MudItem id="Responder Mobile No" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.ResponderMobileNo"
                                                      Label="Mobile Number"
                                                      Placeholder="Mobile Number"
                                                      InputType="InputType.Telephone"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@ValidationExtensions.HasRequiredAttribute(() => _vendorReg.ResponderMobileNo)"
                                                      For="@(() => _vendorReg.ResponderMobileNo)"
                                                      OnBlur="@(() => ValidateResponderPhoneOnBlur())" />
                                    </MudItem>
                                    <MudItem id="Responder Email ID" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.ResponderEmailId"
                                                      Label="Email Id"
                                                      Placeholder="Email ID"
                                                      InputType="InputType.Email"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@(_isReadOnly || _isResponderEmailLocked)"
                                                      Required="@ValidationExtensions.HasRequiredAttribute(() => _vendorReg.ResponderEmailId)"
                                                      For="@(() => _vendorReg.ResponderEmailId)"
                                                      OnBlur="@(() => OnResponderEmailBlurHandler())" />
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        </MudItem>
                        <MudDivider Class="my-1" />
                        <MudItem xs="12" Class="d-flex justify-end align-items-center">
                            <MudButton Variant="Variant.Outlined"
                                       Color="Color.Default"
                                       OnClick="OnCancel"
                                       Disabled="@_isSaving"
                                       Class="me-2">
                                Cancel
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Disabled="@(_isSaving || _isReadOnly)"
                                       OnClick="() => ActivateTabObjAsync(_panelBankInfo)">
                                <MudIcon Size="Size.Small" Class="me-1" Icon="@Icons.Material.Filled.NavigateNext" />
                                <span>Next</span>
                            </MudButton>
                        </MudItem>
                    </MudGrid>

                </MudTabPanel>
                <MudTabPanel Text="Statutory and Bank Information" @ref="_panelBankInfo" Icon="@Icons.Material.Rounded.AccountBalance">

                    <MudGrid GutterSize="1" Spacing="0" Class="mt-2">
                        <MudItem id="Registration Details 1" xs="4" md="4">
                            <MudPaper Height="100%" Elevation="1" Class="pa-2 mr-2">
                                <MudGrid Spacing="0" GutterSize="1" AlignItems="center">
                                    <MudItem xs="11">
                                        <MudText Typo="Typo.h6" Color="Color.Info">Registration Details1</MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="d-flex justify-end">
                                        @if (_isRegistrationSection1Valid)
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Rounded.Check" />
                                        }
                                        else
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Rounded.Clear" />
                                        }
                                    </MudItem>
                                    <MudDivider Class="mx-2" />
                                    <MudItem id="PAN Number" xs="9" md="9">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.PANNo"
                                                      Label="PAN Number"
                                                      Placeholder="Enter PAN Number"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isPANRequired"
                                                      For="@(() => _vendorReg.PANNo)"
                                                      OnBlur="@(() => ValidatePANOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="PAN"
                                                                 OnChange="OnPANUploaded"
                                                                 ImgUrl="@_vendorReg.PANCardURL"
                                                                 IsRequired="@_isPANRequired" />
                                    </MudItem>


                                    <MudItem id="TAN Number" xs="9" md="9" Style="padding-right:4px ;">
                                        <MudTextField @bind-Value="_vendorReg.TANNo"
                                                      Placeholder="TAN Number"
                                                      Typo="@_inputTypo"
                                                      Label="TAN No"
                                                      Margin="Margin.Dense"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isTANRequired"
                                                      FullWidth="true"
                                                      For="@(() => _vendorReg.TANNo)"
                                                      OnBlur="@(() => ValidateTANOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="TAN"
                                                                 OnChange="OnTANUploaded"
                                                                 ImgUrl="@_vendorReg.TANCertURL"
                                                                 IsRequired="@_isTANRequired" />
                                    </MudItem>

                                    <!-- GST -->
                                    <MudItem id="GST Number" xs="9" md="9" Style="padding-right:4px;">
                                        <MudTextField @bind-Value="_vendorReg.GSTNO"
                                                      Placeholder="GST Registration Number"
                                                      Typo="@_inputTypo"
                                                      Label="GST No"
                                                      Margin="Margin.Dense"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isGSTRequired"
                                                      FullWidth="true"
                                                      For="@(() => _vendorReg.GSTNO)"
                                                      OnBlur="@(() => ValidateGSTOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="GST"
                                                                 OnChange="OnGSTUploaded"
                                                                 ImgUrl="@_vendorReg.GSTRegistrationCertURL"
                                                                 IsRequired="@_isGSTRequired" />
                                    </MudItem>

                                    <!-- CIN -->
                                    <MudItem id="CIN Number" xs="9" md="9" Style="padding-right:4px;">
                                        <MudTextField @bind-Value="_vendorReg.CIN"
                                                      Placeholder="CIN Number"
                                                      Typo="@_inputTypo"
                                                      Label="CIN"
                                                      Margin="Margin.Dense"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isCINRequired"
                                                      FullWidth="true"
                                                      For="@(() => _vendorReg.CIN)"
                                                      OnBlur="@(() => ValidateCINOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="CIN"
                                                                 OnChange="OnCINUploaded"
                                                                 ImgUrl="@_vendorReg.CINCertURL"
                                                                 IsRequired="@_isCINRequired" />
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        </MudItem>



                        <MudItem id="Registration Details 2" xs="4" md="4">
                            <MudPaper Height="100%" Elevation="1" Class="pa-2 mr-2">
                                <MudGrid Spacing="0" GutterSize="1" AlignItems="center">
                                    <MudItem xs="11">
                                        <MudText Typo="Typo.h6" Color="Color.Info">Registration Details2</MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="d-flex justify-end">
                                        @if (_isRegistrationSection2Valid)
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Rounded.Check" />
                                        }
                                        else
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Rounded.Clear" />
                                        }
                                    </MudItem>
                                    <MudDivider Class="mx-2" />
                                    <MudItem id="Aadhar Number" xs="9" md="9">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.AadharNo"
                                                      Label="Aadhar Number"
                                                      Placeholder="Enter Aadhar Number"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isAadharRequired"
                                                      For="@(() => _vendorReg.AadharNo)"
                                                      OnBlur="@(() => ValidateAadharOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="AADHAR"
                                                                 OnChange="OnAADHARUploaded"
                                                                 ImgUrl="@_vendorReg.AadharDocURL"
                                                                 IsRequired="@_isAadharRequired" />
                                    </MudItem>



                                    <MudItem id="UDYAM Number" xs="9" md="9" Style="padding-right:4px ;">
                                        <MudTextField @bind-Value="_vendorReg.UDYAMRegNo"
                                                      Placeholder="UDYAM Number"
                                                      Typo="@_inputTypo"
                                                      Label="UDYAM No"
                                                      Margin="@_inputMargin"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isUDYAMRequired"
                                                      FullWidth="true"
                                                      For="@(() => _vendorReg.UDYAMRegNo)"
                                                      OnBlur="@(() => ValidateUDYAMOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="UDYAM"
                                                                 OnChange="OnUDYAMUploaded"
                                                                 ImgUrl="@_vendorReg.UDYAMRegCertURL"
                                                                 IsRequired="@_isUDYAMRequired" />
                                    </MudItem>

                                    <!-- GST -->
                                    <MudItem id="PF Number" xs="9" md="9" Style="padding-right:4px;">
                                        <MudTextField @bind-Value="_vendorReg.PFNo"
                                                      Placeholder="PF Registration Number"
                                                      Typo="@_inputTypo"
                                                      Label="PF No"
                                                      Margin="@_inputMargin"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isPFRequired"
                                                      FullWidth="true"
                                                      For="@(() => _vendorReg.PFNo)"
                                                      OnBlur="@(() => ValidatePFOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="PF"
                                                                 OnChange="OnPFUploaded"
                                                                 ImgUrl="@_vendorReg.PFRegCertURL"
                                                                 IsRequired="@_isPFRequired" />
                                    </MudItem>

                                    <!-- CIN -->
                                    <MudItem id="ESI Number" xs="9" md="9" Style="padding-right:4px;">
                                        <MudTextField @bind-Value="_vendorReg.ESIRegNo"
                                                      Placeholder="ESI Number"
                                                      Typo="@_inputTypo"
                                                      Label="ESI"
                                                      Margin="@_inputMargin"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@_isESIRequired"
                                                      FullWidth="true"
                                                      For="@(() => _vendorReg.ESIRegNo)"
                                                      OnBlur="@(() => ValidateESIOnBlur())" />
                                    </MudItem>
                                    <MudItem xs="3" md="3" Style="display:flex; align-items:center; justify-content:center; padding-left:0;">
                                        <OrgRegisterDocsUploader DocType="ESI"
                                                                 OnChange="OnESIUploaded"
                                                                 ImgUrl="@_vendorReg.ESIRegCertURL"
                                                                 IsRequired="@_isESIRequired" />
                                    </MudItem>
                                </MudGrid>

                            </MudPaper>

                        </MudItem>

                        <MudItem id="Bank Account Details 2" xs="4" md="4">
                            <MudPaper Height="100%" Elevation="1" Class="pa-2 mr-2">
                                <MudGrid Spacing="0" GutterSize="1" AlignItems="center">
                                    <MudItem xs="11">
                                        <MudText Typo="Typo.h6" Color="Color.Info">Bank Account</MudText>
                                    </MudItem>
                                    <MudItem xs="1" Class="d-flex justify-end">
                                        @if (_isBankAccountSectionValid)
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Rounded.Check" />
                                        }
                                        else
                                        {
                                            <MudIcon Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Rounded.Clear" />
                                        }
                                    </MudItem>
                                    <MudDivider Class="mx-2" />
                                    <MudItem id="Bank Name" xs="12" md="12">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.BankName"
                                                      Label="Bank Name"
                                                      Placeholder="Enter Bank Name"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      Variant="@_inputVariant"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.BankName))"
                                                      For="@(() => _vendorReg.BankName)" />
                                    </MudItem>

                                    <MudItem id="Bank Branch" xs="12" md="12" Style="padding-right:4px ;">
                                        <MudTextField T="string" @bind-Value="_vendorReg.BankBranch"
                                                      Placeholder="Bank Branch"
                                                      Typo="@_inputTypo"
                                                      Label="Bank Branch"
                                                      Margin="@_inputMargin"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.BankBranch))"
                                                      FullWidth="true"
                                                      For="@(() => _vendorReg.BankBranch)" />
                                    </MudItem>

                                    <MudItem id="IFSC Code" xs="12" md="12" Style="padding-right:4px;">
                                        <MudTextField T="string" @bind-Value="@_vendorReg.IFSCCode"
                                                      Placeholder="IFSC Code"
                                                      Typo="@_inputTypo"
                                                      Label="IFSC Code"
                                                      Margin="@_inputMargin"
                                                      ReadOnly="@_isReadOnly"
                                                      FullWidth="true"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.IFSCCode))"
                                                      For="@(() => _vendorReg.IFSCCode)"
                                                      OnBlur="ValidateIFSCOnBlur" />
                                    </MudItem>

                                    <MudItem id="Account Number" xs="12" md="12" Style="padding-right:4px;">
                                        <MudTextField T="string" @bind-Value="_vendorReg.AccountNumber"
                                                      Label="Account Number"
                                                      Placeholder="Account Number"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.AccountNumber))"
                                                      Style="flex:1;"
                                                      For="@(() => _vendorReg.AccountNumber)" />
                                    </MudItem>

                                    <MudItem id="Account Name" xs="12" md="12" Style="padding-right:4px;">
                                        <MudTextField T="string" @bind-Value="_vendorReg.AccountName"
                                                      Label="Account Name"
                                                      Placeholder="Name of the Account Holder/Organizaton"
                                                      Typo="@_inputTypo"
                                                      Margin="@_inputMargin"
                                                      ReadOnly="@_isReadOnly"
                                                      Required="@(ValidationExtensions.HasRequiredAttribute(() => _vendorReg.AccountName))"
                                                      Style="flex:1;"
                                                      For="@(() => _vendorReg.AccountName)" />
                                    </MudItem>
                                    <MudItem id="Upload Cancelled Cheque" xs="12" md="12" Style="padding-right:4px;" class="flex-column align-content-end">
                                        <MudText Typo="Typo.caption" Color="Color.Secondary" Style="flex:1;" hidden="@_isReadOnly">Upload a Cancelled Cheque/Bank Statement* </MudText>
                                        <OrgRegisterDocsUploader DocType="CANCELCHEQ"
                                                                 OnChange="OnCancelChequeUploaded"
                                                                 ImgUrl="@_vendorReg.CancelledChequeURL" />
                                    </MudItem>


                                </MudGrid>
                            </MudPaper>
                        </MudItem>
                        <MudDivider Class="my-1" />
                        <MudItem xs="12" Class="d-flex justify-end align-items-center">
                            <MudButton Variant="Variant.Outlined"
                                       Color="Color.Default"
                                       OnClick="OnCancel"
                                       Disabled="@_isSaving"
                                       Class="me-2">
                                Cancel
                            </MudButton>

                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Disabled="@(_isSaving || _isReadOnly)">
                                @if (_isSaving)
                                {
                                    <MudProgressCircular Size="Size.Medium" Class="me-2" Indeterminate="true" />
                                    <span>Saving…</span>
                                }
                                else
                                {
                                    @if (_formEditMode == "Create")
                                    {
                                        <MudIcon Size="Size.Small" Class="me-1" Icon="@Icons.Material.Filled.AddCircleOutline" />
                                        <span>Submit</span>
                                    }
                                    else if (_formEditMode == "Edit")
                                    {
                                        <MudIcon Size="Size.Small" Class="me-1" Icon="@Icons.Material.Filled.Edit" />
                                        <span>Update</span>
                                    }
                                }
                            </MudButton>
                        </MudItem>
                    </MudGrid>


                </MudTabPanel>
                @if (_userType != "VENDOR" && _userType != null)
                {
                    <MudTabPanel Text="Review & Submit" @ref="_panelApproval">
                        <MudGrid GutterSize="1" Spacing="0" Class="mt-2">
                            <MudItem id="Review Panel" xs="6" md="6">
                                <MudPaper Height="100%" Elevation="1" Class="ms-2 me-2 pa-2">
                                    <MudGrid GutterSize="1" Spacing="0">
                                        <MudText Typo="Typo.h6" Color="Color.Info">Review Details</MudText>
                                        <MudDivider Class="my-2" />
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Assigned On </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ReviewAssignedOn is DateTime rd ? rd.ToString("dd-MMM-yyyy") : "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Due Date </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ReviewTargetDate is DateTime rd ? rd.ToString("dd-MMM-yyyy") : "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">SLA Days </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ReviewSLADurationInDays ?? "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">SLA Status </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ReviewSLAStatus ?? "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Reviewed By </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ReviewerName ?? "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Review Date </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg?.ReviewDate is DateTime rd ? rd.ToString("dd-MMM-yyyy") : "—")
                                            </MudText>
                                        </MudItem>

                                        <MudItem xs="6" md="6">
                                            <MudSelect Label="Review Status"
                                                       Value="_vendorReg.ReviewerStatus"
                                                       Placeholder="Review Status"
                                                       Typo="@_inputTypo"
                                                       ValueChanged="@(EventCallback.Factory.Create<string?>(this, OnReviewerStatusChanged))"
                                                       Variant="@_inputVariant"
                                                       Margin="@_inputMargin"
                                                       Class="short-field"
                                                       ReadOnly="@_isReviewLocked">
                                                <MudSelectItem Value="@("Approved")">Approved</MudSelectItem>
                                                <MudSelectItem Value="@("Rejected")">Rejected</MudSelectItem>
                                                <MudSelectItem Value="@("Pending")">Pending</MudSelectItem>
                                            </MudSelect>
                                        </MudItem>

                                        <MudItem xs="12" md="12">
                                            <MudTextField Typo="@_inputTypo"
                                                          Label="Review Comments"
                                                          Placeholder="Enter Review Comments"
                                                          Variant="@_inputVariant"
                                                          Margin="@_inputMargin"
                                                          ReadOnly="@_isReviewLocked"
                                                          @bind-Value="_vendorReg.ReviewComments"
                                                          For="@(() => _vendorReg.ReviewComments)"
                                                          OnBlur="@(() => ValidateReviewCommentsOnBlur())"
                                                          Required="@(string.Equals(_vendorReg.ReviewerStatus, "Rejected", StringComparison.OrdinalIgnoreCase))" />
                                        </MudItem>

                                        <MudDivider Class="my-2" />

                                        <MudItem xs="6" Class="d-flex justify-start">
                                            <MudButton ButtonType="ButtonType.Button"
                                                       Variant="Variant.Filled" Color="Color.Primary"
                                                       Disabled="@_isReviewLocked"
                                                       OnClick="SubmitReview">
                                                <MudText Typo="Typo.caption">Submit Review</MudText>
                                            </MudButton>
                                        </MudItem>
                                        <MudItem xs="6" Class="d-flex justify-end">
                                            <MudChip T="string" Color="@(_isReviewer? Color.Success: Color.Warning)"
                                                     Variant="Variant.Filled"
                                                     Size="Size.Small"
                                                     Class="me-2">
                                                @(_isReviewer ? "Reviewer" : "Not Reviewer")
                                            </MudChip>
                                        </MudItem>
                                    </MudGrid>
                                </MudPaper>

                            </MudItem>

                            <MudItem id="Approval Panel" xs="6" md="6">

                                <MudPaper Height="100%" Elevation="1" Class="ms-2 me-4 pa-2">
                                    <MudGrid GutterSize="1" Spacing="0">
                                        <MudText Typo="Typo.h6" Color="Color.Info">Approval Details</MudText>
                                        <MudDivider Class="my-2" />
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Assigned On </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ApprovalAssignedOn is DateTime rd ? rd.ToString("dd-MMM-yyyy") : "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Due Date </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ApprovalTargetDate is DateTime rd ? rd.ToString("dd-MMM-yyyy") : "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">SLA Days </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ApprovalSLADurationInDays ?? "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">SLA Status </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ApprovalSLAStatus ?? "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Approved By </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg.ApproverName ?? "—")
                                            </MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Approval Date </MudText>
                                            <MudText Typo="Typo.body1" Color="Color.Info" Severity="Severity.Info" Variant="Variant.Outlined" Class="mb-2">
                                                @(_vendorReg?.ApprovalDate is DateTime rd ? rd.ToString("dd-MMM-yyyy") : "—")
                                            </MudText>
                                        </MudItem>

                                        <MudItem xs="6" md="6">
                                            <MudSelect Label="Approval Status"
                                                       Placeholder="Approval Status"
                                                       Value="_vendorReg.ApproverStatus"
                                                       Typo="@_inputTypo"
                                                       ValueChanged="@(EventCallback.Factory.Create<string?>(this, OnApproverStatusChanged))"
                                                       Variant="@_inputVariant"
                                                       Margin="@_inputMargin"
                                                       Class="short-field"
                                                       ReadOnly="@_isApproverLocked">
                                                <MudSelectItem Value="@("Approved")">Approved</MudSelectItem>
                                                <MudSelectItem Value="@("Rejected")">Rejected</MudSelectItem>
                                                <MudSelectItem Value="@("Pending")">Pending</MudSelectItem>
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudTextField @bind-Value="_vendorReg.SAPVendorCode"
                                                          Typo="@_inputTypo"
                                                          MaxLength="8"
                                                          Label="SAP Vendor Code"
                                                          Placeholder="Enter SAP Vendor Code"
                                                          Variant="@_inputVariant"
                                                          Margin="@_inputMargin"
                                                          ReadOnly="@_isApproverLocked"
                                                          Required="@_isSAPVendorCodeRequired"
                                                          For="@(() => _vendorReg.SAPVendorCode)"
                                                          OnBlur="ValidateSAPVendorCodeOnBlur" />
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudText Typo="_inputTypo">Allow Invoice Upload by Initiator</MudText>
                                        </MudItem>
                                        <MudItem xs="6" md="6">
                                            <MudSwitch T="bool" @bind-Checked="_vendorReg.AllowInvUploadByInitiator"
                                                       Color="Color.Primary"
                                                       Disabled="@_isApproverLocked" />

                                        </MudItem>
                                        <MudItem xs="12" md="12">
                                            <MudItem xs="12" md="12">
                                                <MudTextField Typo="@_inputTypo"
                                                              Label="Approver Comments"
                                                              Placeholder="Enter Approver Comments"
                                                              Variant="@_inputVariant"
                                                              Margin="@_inputMargin"
                                                              ReadOnly="@_isApproverLocked"
                                                              @bind-Value="_vendorReg.ApprovalComments"
                                                              For="@(() => _vendorReg.ApprovalComments)"
                                                              OnBlur="@(() => ValidateApprovalCommentsOnBlur())"
                                                              Required="@(string.Equals(_vendorReg.ApproverStatus, "Rejected", StringComparison.OrdinalIgnoreCase))" />
                                            </MudItem>
                                        </MudItem>
                                        <MudDivider Class="my-2" />

                                        <MudItem xs="6" Class="d-flex justify-start">
                                            <MudButton ButtonType="ButtonType.Button"
                                                       Variant="Variant.Filled" Color="Color.Primary"
                                                       Disabled="@_isApproverLocked"
                                                       OnClick="SubmitApproval">
                                                <MudText Typo="Typo.caption">Submit Approval</MudText>
                                            </MudButton>
                                        </MudItem>
                                        <MudItem xs="6" Class="d-flex justify-end">
                                            <MudChip T="string" Color="@(_isApprover? Color.Success: Color.Warning)"
                                                     Variant="Variant.Filled"
                                                     Size="Size.Small"
                                                     Class="me-2">
                                                @(_isApprover ? "Approver" : "Not Approver")
                                            </MudChip>
                                        </MudItem>
                                    </MudGrid>
                                </MudPaper>

                            </MudItem>
                        </MudGrid>
                    </MudTabPanel>
                }

                <div class="d-flex justify-content-between align-items-center mt-2" style="position:sticky; bottom:0; background:transparent; padding:12px 0;">
                    <MudText Typo="Typo.caption" Color="Color.Secondary" Class="text-start">
                        *Uploading relevant documents is mandatory if the respective registration details are provided. | Max file size: 10 MB
                    </MudText>
                </div>

            </MudTabs>
        </EditForm>
    </MudCardContent>
</MudCard>

@code {
    private MudTabs _tabs;
    private MudTabPanel _panelOrgInfo;
    private MudTabPanel _panelBankInfo;
    private MudTabPanel _panelApproval;
    private Task ActivateTabObjAsync(MudTabPanel? panel)
    {
        if (_tabs is null || panel is null)
            return Task.CompletedTask;
        return _tabs.ActivatePanelAsync(panel);
    }
}