<MudDrawer Class="nav-drawer" @bind-Open="SideBarOpen" ClipMode="DrawerClipMode.Never" Elevation="1" Variant="DrawerVariant.Temporary">
    <MudDrawerHeader Class="nav-drawer-header">
        <MudAvatar Color="Color.Primary" Size="Size.Medium">
            <MudImage Src="/assets/oceanlogo.png" />
        </MudAvatar>

        <div class="nav-header-text">
            <MudText Typo="Typo.h6" Color="Color.Primary" Class="brand-title">Ocean</MudText>
        </div>
    </MudDrawerHeader>

    <MudNavMenu Class="nav-menu">
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>

        <MudNavGroup Title="Purchase Order" Icon="@Icons.Material.Filled.DashboardCustomize" Expanded="false">
            <AuthorizeView Roles="EMPLOYEE">
                <Authorized>
                    <MudNavLink Href="po-list" Icon="@Icons.Material.Filled.ShoppingCart">Company</MudNavLink>
                </Authorized>
            </AuthorizeView>
            <MudNavLink Href="polist" Icon="@Icons.Material.Filled.ShoppingCart">PO List Paging</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Invoices" Icon="@Icons.Material.Filled.AccountBalance" Expanded="false">
            <AuthorizeView Roles="EMPLOYEE, VENDOR">
                <Authorized>
                    <MudNavLink Href="invoices" Icon="@Icons.Material.Filled.ShoppingCart">Invoice List</MudNavLink>
                </Authorized>
            </AuthorizeView>
            <MudNavLink Href="invoices" Icon="@Icons.Material.Filled.ShoppingCart">Invoice List</MudNavLink>
        </MudNavGroup>
        
        <MudNavGroup Title="Vendors" Icon="@Icons.Material.Filled.Person" Expanded="false">
            
            <MudNavLink Href="vendor-registrations" Icon="@Icons.Material.Filled.Person4">Vendor Registration</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudDrawer>
@code {
    [Parameter]
    public bool SideBarOpen { get; set; }
}