@page "/invoiceview/{InvoiceId:Guid?}"

@using MudBlazor

@* <MudBreadcrumbs Items="_items" Separator="/" Class="mb-0" /> *@
<PageNavigation Items="_items" />
<PageHeader Title="Invoice" Class="mb-2" />



@if (isDetailsLoading)
{
    <div style="display:flex; align-items:center; justify-content:center; min-height:120px;">
        <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
    </div>
}
else
{
    <div class="newinvoice">
        <MudGrid GutterSize="1">
            <MudItem xs="12">
                <MudPaper Class="pa-3" Elevation="1">
                    <MudTabs>
                        <MudTabPanel Text="Details" Icon="@Icons.Material.Rounded.Details">
                            <InvoiceViewPanel _invoiceDto="@_invoiceDto" _PODto="@PurchaseOrderDetails" />
                        </MudTabPanel>
                        <MudTabPanel Text="Initiator" Icon="@InitiatorIcon" IconColor="@InitiatorIconColor">
                            <InvoiceInitiatorReview _invoiceDto="@_invoiceDto" _PODto="@PurchaseOrderDetails"
                                                    _LoggedInEmployeeID="@_LoggedInEmployeeID"
                                                    _LoggedInUserType="@_LoggedInUserType"
                                                    _LoggedInVendorID="@_LoggedInVendorID"
                                                    _CurrentRoleName="@_CurrentRoleName"
                                                    _isInvAssigned="@_isInvAssigned"
                                                    _isInitiator="@_isInitiator"
                                                    OnSaved="@RefreshAsync" />
                        </MudTabPanel>
                        <MudTabPanel Text="Checker" Icon="@CheckerIcon" IconColor="@CheckerIconColor">
                            <InvoiceCheckerReview _invoiceDto="@_invoiceDto" _PODto="@PurchaseOrderDetails"
                                                  _LoggedInEmployeeID="@_LoggedInEmployeeID"
                                                  _LoggedInUserType="@_LoggedInUserType"
                                                  _LoggedInVendorID="@_LoggedInVendorID"
                                                  _CurrentRoleName="@_CurrentRoleName"
                                                  _isInvAssigned="@_isInvAssigned"
                                                  _isChecker="@_isChecker"
                                                  OnSaved="@RefreshAsync" />
                        </MudTabPanel>

                        <MudTabPanel Text="Validator" Icon="@ValidatorIcon" IconColor="@ValidatorIconColor">
                            <InvoiceValidatorReview _invoiceDto="@_invoiceDto" _PODto="@PurchaseOrderDetails"
                                                   _LoggedInEmployeeID="@_LoggedInEmployeeID"
                                                   _LoggedInUserType="@_LoggedInUserType"
                                                   _LoggedInVendorID="@_LoggedInVendorID"
                                                   _CurrentRoleName="@_CurrentRoleName"
                                                   _isInvAssigned="@_isInvAssigned"
                                                   _isValidator="@_isValidator"
                                                    OnSaved="@RefreshAsync" />
                        </MudTabPanel>
                        <MudTabPanel Text="Approver" Icon="@ApproverIcon" IconColor="@ApproverIconColor">
                            <InvoiceApproverReview _invoiceDto="@_invoiceDto" _PODto="@PurchaseOrderDetails"
                                                  _LoggedInEmployeeID="@_LoggedInEmployeeID"
                                                  _LoggedInUserType="@_LoggedInUserType"
                                                  _LoggedInVendorID="@_LoggedInVendorID"
                                                  _CurrentRoleName="@_CurrentRoleName"
                                                  _isInvAssigned="@_isInvAssigned"
                                                   _isApprover="@_isApprover"
                                                   OnSaved="@RefreshAsync" />
                        </MudTabPanel>
                        <MudTabPanel Text="Authorizer" Icon="@ApApproverIcon" IconColor="@ApApproverIconColor">
                            <InvoiceAPReview _invoiceDto="@_invoiceDto" _PODto="@PurchaseOrderDetails"
                                                  _LoggedInEmployeeID="@_LoggedInEmployeeID"
                                                  _LoggedInUserType="@_LoggedInUserType"
                                                  _LoggedInVendorID="@_LoggedInVendorID"
                                                  _CurrentRoleName="@_CurrentRoleName"
                                                  _isInvAssigned="@_isInvAssigned"
                                                   _isApApprover="@_isApApprover"
                                             OnSaved="@RefreshAsync" />
                        </MudTabPanel>
                        <MudTabPanel Text="Payments" Icon="@PaymentIcon" IconColor="@PaymentIconColor">
                            
                        </MudTabPanel>
                    </MudTabs>

                </MudPaper>


            </MudItem>
            <!-- Workflow stepper -->

        </MudGrid>
        <MudDivider Class="my-1"/>
        <div class="d-flex justify-end mb-2">
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Visibility"
                       OnClick="ShowApprovalSummary">
                View Review Status
            </MudButton>
        </div>
    </div>
}

@code {
    private List<BreadcrumbItem> _items = new()
    {
        new BreadcrumbItem("Home", href: "/", disabled: false),
        new BreadcrumbItem("Invoices", href: "/invoices", disabled: false),
        new BreadcrumbItem("Invoice", href: null, disabled: true)
    };
}
